body * {
    display: inline;
}

div {
    display: inline;
}

.comment {
    display: none;
}

div:hover  .replies{
    display: none;
}
  
div:hover .comment {
    display: inline;
    text-decoration: none;
}

div:hover .comment:visited {
    color: blue;
}
